.styledLinkContent:hover{
    color: #000000;
    /* font-size: 1.3rem; */
    cursor: pointer;
}
.submenuWrapper{
    margin-left: 10%;
}

.submenuWrapper--isOpen{
    width: 80%;
    padding: 1rem;
    -webkit-box-shadow: 5px -1px 12px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px -1px 12px 0px rgba(0,0,0,0.1);
    box-shadow: 5px -1px 12px 0px rgba(0,0,0,0.1);
}