
.wishlistIconContainer--summary {
    right: 20px;
    top: 5px;
    position: absolute;
    z-index: 1000;
  }
.wishlistIcon--summary:hover{
    background-color: transparent !important;
} 

.wishlistIcon--summary{
    background-color:  transparent !important;
}
.iconSize{
    width: 20px;
    height: 20px;
}